<h1>התחבר</h1>
<div class="control-group well">	
	<%= form_for(:session, :url => sessions_path) do |f| %>
	  <div class="row-fluid">
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>
	  <div class="row-fluid">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Sign in", :class=>"btn btn-primary"%>
	  </div>
	  <div class="row-fluid">
	  <%= check_box_tag :remember_me, 1, params[:remember_me] %>
	  <%= label_tag :remember_me %>
	</div>
	<% end %>	
	<p>New user? <%= link_to "Sign up now!", signup_path %></p>	
	<p><%= link_to "forgotten password?", new_password_reset_path %></p>	
</div>