 <div class="row-fluid" id="full_report_div" > 	 	
 	<div class="control-list"> 	
 		<h6><div id="progress_bar_lable"></div></h6>
	 		<div class="progress progress-striped active">
			  <div class="bar bar-warning" style="width: 0%;" id="progress_bar"></div>
			</div>
			<!--to do-->
			<a href="http://mazminim.com">
				<img src="http://mazminim.com/assets/logo.gif" height="50" width="230"/>
			</a>
		<br />		
		<br />
		<strong>דוח סופי</strong>
		<br />
		<%link_to "Mazminim.com", root_path%>
	 	<div class="row-fluid">	
	 	 		<!--Small report table on the right side-->
	 	 		
	 	 		<%if !@invite_history.nil?%>
					<table class="table table-bordered" id="report_tbl" border="1">
         		<%count_yes=0%>
              	<%count_nil=0%>
              	<%count_not=0%>
              	<%count_redialing_5=0%>
              	<%count_redialing_10=0%>
              	<%count_no_answer_final=0%>
              	<%count_no_response=0%>
              	<%@invite_history.each do |elem|
              		if  (elem.arriving.nil?)
      					count_nil+=1
              		elsif (elem.arriving == 1)
        				count_yes+=1
      				elsif  (elem.arriving == 2)
      					count_not+=1		
					elsif  (elem.arriving == -10)
      					count_redialing_5+=1		
  					elsif  (elem.arriving == -20)
      					count_redialing_10+=1		
  					elsif  (elem.arriving == -30)
      					count_no_answer_final+=1
  					elsif  (elem.arriving == -50)
      					count_no_response+=1
      				end
  				end
      			%>
          <thead>
            <caption>
            	דוח סיכום            
            </caption>	            
          </thead>
          <tbody>
            <tr class="info">              
              <td style="font-weight: bold" id="total_invites_data_row"><%=@invite_history.count%></td>
              <td style="font-weight: bold">סה''כ מוזמנים</td>
                  
            </tr>
            <tr class="warning">              
              <td style="font-weight: bold" id="in_progress_row"><%=count_nil%></td>
              <td style="font-weight: bold">בתהליך התקשרות</td>
                  
            </tr>       
            <tr class="warning">              
              <td style="font-weight: bold" id="comming_invites_data_row"><%=count_yes%></td>
              <td style="font-weight: bold">אישרו הגעה</td>
                  
            </tr>
            <tr class="warning">              
              <td style="font-weight: bold" id="declined_data_row"><%=count_not%></td>
              <td style="font-weight: bold">דחו הגעה</td>
                  
            </tr>      
            <tr class="warning">              
              <td style="font-weight: bold" id="redial_5_row"><%=count_redialing_5%></td>
              <td style="font-weight: bold">מתבצע חיוג חוזר ראשון</td>
                  
            </tr>       
            <tr class="warning">              
              <td style="font-weight: bold" id="refial_10_row"><%=count_redialing_10%></td>
              <td style="font-weight: bold">מתבצע חיוג חוזר שני</td>
                  
            </tr>       
            <tr class="warning">              
              <td style="font-weight: bold" id="no_answer_provided_row"><%=count_no_response%></td>
              <td style="font-weight: bold">לא הוקשה תגובה</td>
                  
            </tr>       
            <tr class="warning">              
              <td style="font-weight: bold" id="no_answer_data_row"><%=count_no_answer_final%></td>
              <td style="font-weight: bold">לא ענו - סופי</td>
                  
            </tr>       

          </tbody>
</table>
<%else%>
<table class="table table-bordered" id="report_tbl"></table>
<%end%>	
<br />
 	<table class="table" border="1">
  		<thead>
            <tr>                  
              <th>שם</th>
              <th>דואר אלקטרוני</th>
              <th>מספר טלפון</th>
              <th>סטטוס הגעה</th>
            </tr>
	  	</thead>
	  	<tbody id="full_report_table_body">
            <%=render 'users/invites_each'%>                
          </tbody>
  	</table>	
 	 	 	
	 	</div>
 	</div> 	
 </div> 
