 <div class="row-fluid" id="full_report_div" > 	 	
 	<div class="control-list"> 	
 		<h6><div id="progress_bar_lable"></div></h6>
	 		<div class="progress progress-striped active">
			  <div class="bar bar-warning" style="width: 0%;" id="progress_bar"></div>
			</div>
			<!--to do-->
			<img src="http://mazminim.com:3000/assets/logo.gif" height="60" width="200" />
		<br />		
		<br />
		<strong>Final report for:<%=@user.name%></strong>
		<br />
		<%link_to "Mazminim.com", root_path%>
	 	<div class="row-fluid">	
	 	 		<!--Small report table on the right side-->
	 	 		
	 	 		<%if !@invite_history.nil?%>
					<table class="table table-bordered" id="report_tbl" border="1">
         		<%count_yes=0%>
              	<%count_nil=0%>
              	<%count_not=0%>
              	<%count_redialing_5=0%>
              	<%count_redialing_10=0%>
              	<%count_redialing_20=0%>
              	<%count_no_answer=0%>
              	<%count_no_answer_provided=0%>
              	<%@invite_history.each do |elem|
              		
              		if  (elem.arriving.nil?)
      					count_nil+=1
              		elsif (elem.arriving == 1)
        				count_yes+=1
      				elsif  (elem.arriving == 2)
      					count_not+=1		
					elsif  (elem.arriving == -10)
      					count_redialing_5+=1		
  					elsif  (elem.arriving == -20)
      					count_redialing_10+=1		
  					elsif  (elem.arriving == -30)
      					count_redialing_20+=1		
  					elsif  (elem.arriving == -40)
      					count_no_answer+=1
  					elsif  (elem.arriving == -50)
      					count_no_answer_provided+=1
      				end
  				end
      			%>
          <thead>
            <caption>
            	Report summary.            
            </caption>	            
          </thead>
          <tbody>
            <tr class="success">              
              <td style="font-weight: bold">Total invites:</td>
              <td style="font-weight: bold" id="total_invites_data_row"><%=@invite_history.count%></td>                  
            </tr>
            <tr class="error">              
              <td style="font-weight: bold">Confirmed:</td>
              <td style="font-weight: bold" id="comming_invites_data_row"><%=count_yes%></td>                  
            </tr>
            <tr class="warning">              
              <td style="font-weight: bold">No Answer:</td>
              <td style="font-weight: bold" id="no_answer_data_row"><%=count_nil%></td>                  
            </tr>       
            <tr class="">              
              <td style="font-weight: bold">Declined:</td>
              <td style="font-weight: bold" id="no_answer_data_row"><%=count_not%></td>                  
            </tr>      
          </tbody>
</table>
<%else%>
<table class="table table-bordered" id="report_tbl"></table>
<%end%>	
<br />
 	<table class="table" border="1">
  		<thead>
            <tr>                  
              <th>Name</th>
              <th>Email</th>
              <th>Phone number</th>
              <th>Acknowledge status</th>
            </tr>
	  	</thead>
	  	<tbody id="full_report_table_body">
            <%=render 'users/invites_each'%>                
          </tbody>
  	</table>	
 	 	 	
	 	</div>
 	</div> 	
 </div> 
