<%if !@inviteHistorys.nil?%>
<button class="btn btn-success" onclick="foo()">Close</button>

<p></p>
<table class="table table-bordered" id="tbl_invitesHistory">
      <thead>
        <tr>
          <th>invites: <%=@inviteHistorys.count%></th>
          <th>First Name</th>
          <th>Mail</th>
          <th>Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      	<%@inviteHistorys.each_with_index  do |elem,index|%>
        <tr>  
          <td><%=index+1%></td>        
          <td><%=elem.name%></td>
          <td><%=elem.mail%></td>
          <td><%=elem.number%></td> 
          	<%if elem.arriving.nil? %>
          		<td>in progress</td>
          	<% elsif (elem.arriving == 1)%>
		    	<td bgcolor="#B5DD49">Confirmed</td>
			<%elsif(elem.arriving == 2)%>
				<td bgcolor="#FFD9E2">Declined</td>
			<%elsif(elem.arriving == -10)%>
				<td bgcolor="#FFD9E2">[1/3] No answer/busy<br> redialing in 5min</td>
			<%elsif(elem.arriving == -20)%>
				<td bgcolor="#FFD9E2">[2/3] No answer/busy<br> redialing in 10min</td>
			<%elsif(elem.arriving == -30)%>
				<td bgcolor="#FFD9E2">[3/3] No answer/busy<br> redialing in 20min</td>
			<%elsif(elem.arriving == -40)%>
				<td bgcolor="#FFD9E2">No answer/busy</td>
			<%elsif(elem.arriving == -50)%>
				<td bgcolor="#FFD9E2">No answer provided</td>

			<%else%>
				<td>No response</td>			
          <%end%>  
        </tr>
        <%end%>        
      </tbody>
</table>

<%end%>
