<%if !@inviteHistorys.nil?%>
<button class="btn btn-success" onclick="foo()">Close</button>

<p></p>
<table class="table table-bordered" id="tbl_invitesHistory">
      <thead>
        <tr>
          <th>invites: <%=@inviteHistorys.count%></th>
          <th>First Name</th>
          <th>Mail</th>
          <th>Number</th>
          <th>Status</th>
        </tr>
      </thead>
      <a id="details"></a>
      <tbody>
      	<%@inviteHistorys.each_with_index  do |elem,index|%>
        <tr>  
          <td><%=index+1%></td>        
          <td><%=elem.name%></td>
          <td><%=elem.mail%></td>
          <td><%=elem.number%></td> 
          	<%if elem.arriving.nil? %>
          		<td>in progress</td>
          	<% elsif (elem.arriving == 1)%>
		    	<td bgcolor="#0073FF">Confirmed</td>
			<%elsif(elem.arriving == 2)%>
				<td bgcolor="#FF0000">Declined</td>
			<%elsif(elem.arriving == -10)%>
				<td bgcolor="#FF0000">No answer/busy. Redialing in 5 minutes (1st attempt out of 3)...</td>
			<%elsif(elem.arriving == -20)%>
				<td bgcolor="#FF0000">No answer/busy. Redialing in 10 minutes (2nd attempt out of 3)...</td>
			<%elsif(elem.arriving == -30)%>
				<td bgcolor="#FF0000">No answer/busy. Redialing in 20 minutes (3rd attempt out of 3)...</td>
			<%elsif(elem.arriving == -40)%>
				<td bgcolor="#FF0000">No answer/busy.</td>
			<%else%>
				<td>No response</td>			
          <%end%>  
        </tr>
        <%end%>        
      </tbody>
</table>

<%end%>
