<%if !@inviteHistorys.nil?%>
<button class="btn btn-success" onclick="foo()">סגור</button>

<p></p>
<table class="table table-bordered" id="tbl_invitesHistory">
      <thead>
        <tr>
          <th><%=@inviteHistorys.count%>סה''כ מוזמנים: </th>
          <th>שם</th>
          <th>כתובת דואר אלקטרוני</th>
          <th>מספר טלפון</th>
          <th>סטטוס הגעה</th>
        </tr>
      </thead>
      <tbody>
      	<%@inviteHistorys.each_with_index  do |elem,index|%>
        <tr>  
          <td><%=index+1%></td>        
          <td><%=elem.name%></td>
          <td><%=elem.mail%></td>
          <td><%=elem.number%></td> 
          	<%if elem.arriving.nil? %>
          		<td>בתהליך התקשרות</td>
          	<% elsif (elem.arriving == 1)%>
		    	<td bgcolor="#B5DD49">אישור</td>
			<%elsif(elem.arriving == 2)%>
				<td bgcolor="#FFD9E2">דחיה</td>
			<%elsif(elem.arriving == -10)%>
				<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר מתוכנן כ-5 דקות לאחר נסיון ההתקשרות</td>
			<%elsif(elem.arriving == -20)%>
				<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר מתוכנן כ-10 דקות לאחר נסיון ההתקשרות</td>
			<%elsif(elem.arriving == -30)%>
				<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר מתוכנן כ-20 דקות לאחר נסיון ההתקשרות</td>
			<%elsif(elem.arriving == -40)%>
				<td bgcolor="#FFD9E2"></td>אין מענה
			<%elsif(elem.arriving == -50)%>
				<td bgcolor="#FFD9E2">לא התקבלה תשובה</td>

			<%else%>
				<td>לא התקבלה תגובה</td>			
          <%end%>  
        </tr>
        <%end%>        
      </tbody>
</table>

<%end%>
