<%if @orders.count == 0%>
<strong>היסטוריית ההזמנות שלך ריקה</strong>
<%else%>
	<table class="table">
	      <caption class="pull-left"></caption>
	      <thead>
	        <tr>
	          <th>סך אירועים: <%=@orders.count%></th>          
	          <th>מזהה אירוע</th>
	          <th>מועד הזמנה</th>
	          <th>מחיר</th>
	          <th>פרטים</th>
	        </tr>
	      </thead>
	      <tbody>
		<%@orders.each_with_index do |elem,index|%>
	        <tr>
	          <td><%=index+1%></td>
	          <td><%=elem.token%></td>
	          <td><%=elem.created_at%></td>
	          <td>
	          	<%=elem.amount.to_f.round(2)%>
	          	&#8362;
	          	</td>  
	          <td>          	
	          	<a href="#tbl_invitesHistory" class="btn btn-info" onclick="show_history_invites_by_token('<%=elem.token%>');">הצג פירוט</a>
	      	  </td>          
	        </tr>
	    <%end%>
	      </tbody>
	</table>
	<div id="tbl_invitesHistory"></div>
	<script>
	//Close ditails button
		function foo(argument) {
				  
		  document.getElementById("tbl_invitesHistory").innerHTML="";
		}
	</script>
<%end%>
