<%if @orders.nil?%>
<strong>No orders found</strong>
<%else%>
<table class="table">
      <caption class="pull-left"></caption>
      <thead>
        <tr>
          <th>orders: <%=@orders.count%></th>          
          <th>Token</th>
          <th>Order date</th>
          <th>Amount</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
	<%@orders.each_with_index do |elem,index|%>
        <tr>
          <td><%=index+1%></td>
          <td><%=elem.token%></td>
          <td><%=elem.created_at%></td>
          <td><%=elem.amount%> nis</td>  
          <td>
          	<button class="btn btn-info" onclick="show_history_invites_by_token('<%=elem.token%>');"><a href="#tbl_invitesHistory">show details</a></button>
      	  </td>          
        </tr>
    <%end%>
      </tbody>
</table>
<div id="tbl_invitesHistory"></div>

<script>
//Close ditails button
	function foo(argument) {
			  
	  document.getElementById("tbl_invitesHistory").innerHTML="";
	}
</script>
<%end%>
