<table class="table table-condensed">              
      <tbody>
        <tr>
          <td><strong>Deal description:</strong></td>
          <td><%=@user.invites.count%>, invites will be executed, wright after the payment will be completed.</td>                 
        </tr>
        <tr>                 
          <td><strong>Total invites:</strong></td>
          <td><%=@user.invites.count%></td>                  
        </tr>
        <tr>
          <td><strong>Service amount:</strong></td>                  
          <td><%=((@user.invites.count*unit_price)-(@user.invites.count*unit_price*0.18)).to_f.round(2)%> nis</td>          
        </tr>
        <tr>
          <td><strong>VAT 18 %:</strong></td>                  
          <td><%=(@user.invites.count*unit_price*0.18).to_f.round(2)%> nis</td>          
        </tr>
        <tr>
          <td><strong>Total:</strong></td>                  
          <td><%=(@user.invites.count*unit_price).to_f.round(2)%> nis, Including VAT</td>          
        </tr>                    
        <tr>
        	<td class="span3"><strong>Mail on completion:</strong></td>
        	<td><%=@user.email%></td>
        </tr>               
      </tbody>
</table>
 
 