<table class="table table-condensed">              
      <tbody>
        <tr>
          <td><strong>Deal description:</strong></td>
          <td><%=@user.invites.count%> invite(s) total. Calling process starts right after the payment is completed.</td>                 
        </tr>
        <tr>                 
          <td><strong>Invites count:</strong></td>
          <td><%=@user.invites.count%></td>                  
        </tr>
        <hr>
        <tr>
          <td><strong>Service charge:</strong></td>                  
          <td>&#8362;<%=((@user.invites.count*unit_price)-(@user.invites.count*unit_price*0.18)).to_f.round(2)%> ILS</td>
        </tr>
        <tr>
          <td><strong>VAT 18%:</strong></td>                  
          <td>&#8362;<%=(@user.invites.count*unit_price*0.18).to_f.round(2)%> ILS</td>          
        </tr>
        <tr>
          <td><strong>Total:</strong></td>                  
          <td>&#8362;<%=(@user.invites.count*unit_price).to_f.round(2)%> ILS including VAT</td>          
        </tr>                    
        <tr>
        	<td class="span3"><strong>Mail address used to send report upon completion:</strong></td>
        	<td><%=@user.email%></td>
        </tr>               
      </tbody>
</table>
 
 