<div class="span3" align="center">			
		<div class="row-fluid">	
			<div id="applet_container">	
				<% if !record_exist %>   
					<span class="label label-warning">No audio recordings.</span>
				<%end%>	
				<!-- swfobject is a commonly used library to embed Flash content -->
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
				<!-- Setup the recorder interface -->
				
				<script type="text/javascript" src="/assets/recorder.js"></script>
				<!-- GUI code... take it or leave it -->
				<script type="text/javascript" src="/assets/gui.js"></script>
				<script>
					function setupRecorder() {
						Wami.setup({
							id : "wami",
							onReady : setupGUI
						});
					}
				
					function setupGUI() {
						var gui = new Wami.GUI({
							id : "wami",
							recordUrl : "http://<%=request.host_with_port%>/wami/",
							<% if !record_exist %>
								playUrl : "http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.wav"
							<%else%>	   				
								playUrl : "http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.wav"
							<%end%>
				
						});
				
						gui.setPlayEnabled(true);
						<% if !record_exist %>   
							wamiNotificationArea.innerHTML = "Please record your message!";
						<%else%>
							wamiNotificationArea.innerHTML = "You have already recorded your message";
						<%end%>			
					}
				</script>				
				
					<div id="wami"></div>
					<noscript>WAMI requires Javascript.</noscript>
					<br>
					<br><br><br><br><br><br><br>
					<div id="wamiNotificationArea">
						<script>setupRecorder();</script>
					</div>				
											
		</div>		
	

<br />
		<iframe class="span* well" src="/upload_frame" frameborder="0" scrolling="no" align="left" height="130" id="upload_frame">
			<%= form_tag({:action => :upload_audio, :controller=> :upload}, :method => 'post', :multipart => true, :remote => true, :id=>"uploade_audio_form" ) do %>
			  <%= file_field_tag :data_file ,:required => true, :accept=>"*.", :name=>"MAX_FILE_SIZE", :value=>"1048576"%>
			  <%= hidden_field_tag('user', value = @user.id)%>
			  <br />
			  <%= submit_tag 'Upload', :class=>"btn", :required => true, :temote=>true, :onclick=>"recorderReloade();"%>		
			<% end %>
		</iframe>

	</div>
</div>

















			
