<div class="span3" align="center">			
		<div class="well">	
			<div id="applet_container">	
			<% if !record_exist %>   
				<span class="label label-warning">No audio recordings.</span>
			<%end%>			
		    <applet id="applet" archive="../module/nanogong.jar" code="gong.NanoGong" width="164" height="55" visable="true">
			<param name="ShowSpeedButton" value="false" />
			<param name="ShowSaveButton" value="true" />
			<param name="AudioFormat" value="ImaADPCM" />
			<param name="MaxDuration" value="60" />
			<param name="SamplingRate" value="44100" />	
			<param name="ShowRecordButton" value="true" />
			<param name="ShowAllButtons" value="true" />
			<param name="Color" value="#f5f5f5" />			
			<% if record_exist %>   				
				<param name="SoundFileURL" value="http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.id%>.wav"/>
			<%end%>			
			</applet>
			<p></p>				

			<button type="button" onclick="postAudio();remove_span();recorderReloade();" class="btn btn-block" data-toggle="tooltip" data-loading-text="Loading..." title="Press to save your record on server">
				<p>Save your record.</p>
			</button>
		
		
	  <script type="text/javascript">
	  function remove_span(){
	  	//This will remove spn in div applet_container
	  	$("#applet_container > span").remove()
	  }
	  	$('#PayPalModal').on('hidden', function () {
		 applet.width=120
		})
		;
		
		function recorderReloade(argument){
			var url = applet.sendGongRequest('LoadFromURL', "http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.id%>.wav")					
		}	
	  </script>
	</div>	  
		</div>
		<iframe class="span* well" src="/upload_frame" frameborder="0" scrolling="no" align="left" height="130" id="upload_frame">
				<%= form_tag({:action => :upload_audio, :controller=> :upload}, :method => 'post', :multipart => true, :remote => true, :id=>"uploade_audio_form" ) do %>
				  <%= file_field_tag :data_file ,:required => true, :accept=>"*.", :name=>"MAX_FILE_SIZE", :value=>"1048576"%>
				  <%= hidden_field_tag('user', value = @user.id)%>
				  <br />
				  <%= submit_tag 'Upload', :class=>"btn", :required => true, :remote=>true, :onclick=>"recorderReloade();"%>		
				<% end %>
		</iframe>
		
			
</div>

			
