<div class="span4" align="center">			
	
	<div class="row-fluid">	
		<div class="well well-small">
			<%=render 'recorder_flabell' %>
			<!--
			<div id="if_message_recorded_id">	
			<% if record_exist %>
			<p>
				יש לך הודעה מוקלטת - לחץ להשמעת ההודעה כפי שהיא תישמע למוזמנים!
			</p>

			<%else%>
			<p>
				אין הודעה מוקלטת - הקלט או העלה קובץ ממחשבך!	
			</p>
			<%end%>		
			</div>
			-->

			
				<button class="btn btn-large btn-block" onclick="replay();" id="replay-button">
					<!-- <img src="/assets/play.png"  style="height: 40px"/> -->
					<p>לחץ להשמעת ההודעה כפי שהיא תישמע למוזמנים!</p>
				</button>
				
				<div id="player_div" style="visibility: hidden; width: 0px; height: 0px;">
					<audio controls class="well well-small" id="player" preload="auto" style="width: 0px">
	
	  			<source src="http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.mp3" type="audio/mp3">
				
				</audio>
				</div>
				<p></p>				
				<div align="left">				
				<%=render 'answer'%>
				</div>
				
				
		</div>

		<iframe class="span*" src="/upload_frame" frameborder="0" scrolling="no" align="right" id="upload_frame" style="margin-left: 0px;">
			Your browser doesn't support iframes. Please upgrade to latest version
		</iframe>

	</div>
</div>