<p><h4>Samples</h4></p>				
				<div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            		<strong>Example for wedding invitation</strong>       
                    </a>                    
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">                  	
                    <div class="accordion-inner" align="left">    
                		<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio> 
	                    Hello,
	                     Yael and Alon are speaking. 
	                     We are pleased to invite you to celebrate with us one of the most exciting and happiest days of our lives on (Thursday) (Hebrew and Gregorian date) at (name of the hall, banquet hall). 
	                     It's very pleased to see you in our wedding day. 
	                     All you have to do is confirm/decline your arrival by clicking on the appropriate button.
          			</div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">                   
                    <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" >
					<strong>Example for arrival confession</strong>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner" align="left">
						<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
						Hello! This is Yael and Alon. We're getting married and you are invited! On (date Gregorian and Hebrew) in (place) we would very appreciate if you could confirm your arrival by pressing the appropriate button, thanks. Waiting to see you!
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      <strong>Example for invitation to the Bar – Mitzvah</strong>
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">                    
                     <audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
                     Hello, this is the Cohen family. Our little Moses celebrates Bar Mitzvah on (date) in (name of the hall, banquet hall) we would like to invite you to rejoice with us. All you have to do is click on the appropriate button to confirm/decline Your arrival.
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFore">
                      <strong>Example for arrival confession to the Bar – Mitzvah</strong>
                    </a>
                  </div>
                  <div id="collapseFore" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">
						<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
						Hello, this is the Cohen family. . Our little Moses celebrates Bar Mitzvah and you are invited. We would appreciate it if you could confirm your arrival by pressing the appropriate button thanks. Waiting to see you!
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                      <strong>Example for invitation to the conference</strong>
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">
						<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
						Greetings
						You are invited to attend the conference which presents an extensive view of the existing simulation tools in PROGRAM and emphasizes the ease of use and ease of interface, which makes it an important and necessary tool.
						The conference will be held on (Sunday - date), at (place), from 8 am to 12 noon.
						Please confirm your arrival. Thanks.
                    </div>
                  </div>
                </div>
                
</div>
	    