<html dir="rtl">
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" type="stylesheet_link_tag :all, :cache => true" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<div id="applet_container">	
	<!-- swfobject is a commonly used library to embed Flash content -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<!-- Setup the recorder interface -->
	
	<script type="text/javascript" src="/assets/recorder.js"></script>
	<!-- GUI code... take it or leave it -->
	<script type="text/javascript" src="/assets/gui.js"></script>
	<script>
		function setupRecorder() {
			Wami.setup({
				id : "wami",
				onReady : setupGUI
			});
		}
	
		function setupGUI() {
			var gui = new Wami.GUI({
				id : "wami",
				recordUrl : "http://<%=request.host_with_port%>/wami/",
				<% if !record_exist %>
					playUrl : "http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.wav"
				<%else%>	   				
					playUrl : "http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.wav"
				<%end%>
	
			});
			gui.setPlayEnabled(true);
			<% if !record_exist %>   
				wamiNotificationArea.innerHTML = "הקלט הודעתך!";
			<%else%>
				wamiNotificationArea.innerHTML = "יש לך הודעה מוקלטת";
			<%end%>			
		}
	</script>				
		<center><div id="wami" align="center"></div></center>
		<noscript>WAMI requires Javascript</noscript>
		<br>
		<br><br><br><br><br>
		<div id="wamiNotificationArea" class="progress">
			<script>setupRecorder();</script>
		</div>				
								
</div>	
</html>
