<div class="container-fluid">
  
  <div class="row-fluid">  
	    <div class="span*">
	    	<div class="tabbable"> <!-- Tabbable nav -->				 
			  <ul class="nav nav-tabs" id="mainTabs">				  	
			    <li class="active"><a href="#tab1" data-toggle="tab"><h4>Record message <i class="icon-play"></i></h4></a></li>
			    <li><a href="#tab2" ><h4>Import contacts <i class="icon-list"></i></h4></a></li>
			    <li><a href="#tab3" ><h4>Invite <i class="icon-ok"></i></h4></a></li>
			    <li><a href="#tab4" ><h4>View results <i class="icon-tasks"></i></h4></a></li>					  	
			    <!--<li><a href="#tab5" class="btn btn-success"><h4>Test over Skype</h4></a></li>-->
			  </ul>				  
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">	
					  <%=render 'recorder'%>
				  	<div class="span9 well">
						<%=render 'speeches'%>
					</div>	
			    </div>
			    <div class="tab-pane" id="tab2">				      
			      <div class="control-list" style="background-color:">			    	
			    		<div class="well well-small">
				    		<a href="#uploadModal" role="button" class="btn" data-toggle="modal">Upload file</a>
							<a class="btn"><input type="image"  src='/assets/google_search_icon_1.png' style="width: 20px;" /> Google contacts</a>
							<p></p>
							<p class="">You can uploade Excel or CSV file, <a href="file_format:#">accepted file format.</a></p>
							<p class="">Connect my google contacts, android phone, <a href="file_format:#">Google/Android contacts</a></p>
			    		</div>
			    		<%=render 'upload_modal'%>	
				    	<div class="controls well well-small">
				    		<%=render 'invite'%>
				        	<%=render 'inviteT'%>
			        	</div>	
				        <div id="debug"></div>	
					</div>
			  </div>
		  		<div class="tab-pane" id="tab3">				      
				<div class="span3">
					 <div class="control-list" style="background-color: #EEEEEE">			    		
	                	<button type="button" id="green_submit" onclick="can_start();" class="btn btn-block" data-toggle="tooltip" data-loading-text="Loading..." title="Press to to start the process">
							<img src="/assets/call.png">
						</button>
				    </div>
				</div>	
				<div class="span8">	
					<div class="alert alert-block alert-error fade in" id="notification" style="display: none">
			            <button type="button" class="close" data-dismiss="alert">X</button>
			            <h4 class="alert-heading">Oh! What wrong ?!</h4>
			            <h3><p>To start using the service you should have minimum 1 invite and recorded audio message.</p></h3>
			            <p>Navigate to Racord message tab to record the message.</p>
			            <p>Navigate to Import contacts tab to add invites.</p>
			              <a class="btn btn-info" onclick="tab1();">Record audio message</a> Or
			              <a class="btn btn-info" onclick="tab2();">Add invites</a>	
			         </div>
				         <div id="payment_details">
				         	<%=render 'payment_details'%>	
				         </div>
			          <p>
			          <font color="green"><h5>Press on green button to START the process !</h5></font>
			          </p>						
				</div>
		    </div>
		   		<div class="tab-pane" id="tab4">
			      <%=render 'full_report'%>
				</div>				  
				<div class="tab-pane" id="tab5">
					<h1>Skype tester will be hear</h1>
				</div>
			</div>   
	    </div>
		</div>	
  </div> 
</div>
   
<script>
if (window.opener){
	alert("window.close()");
	window.close();
	}
	else if (top.dg.isOpen() == true){
		alert("top.dg.closeFlow()");
	top.dg.closeFlow();
}
</script>




<!-- Add Digital goods in-context experience. Ensure that this script is added before the closing of html body tag -->

<script src='https://www.paypalobjects.com/js/external/dg.js' type='text/javascript'></script>


<script>

	var dg = new PAYPAL.apps.DGFlow(
	{
		trigger: 'paypal_submit',
		expType: 'instant'
		 //PayPal will decide the experience type for the buyer based on his/her 'Remember me on your computer' option.
	});

</script>

