<div class="row-fluid">
	<div class="span8">			
		<iframe id="video_main" class="well" width="580" height="400" src="http://www.youtube.com/embed/lV1S7ZB8Ahw" frameborder="100" allowfullscreen></iframe>
	<%= render 'pages/about'%>
	</div>		
	<div class="span4">	
		<% if !signed_in? %>
		<div class="span11 well well-small">		
			<div class="control-group">
			<p>הרשמה</p>			
			<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>			    
			    <%= f.text_field :name ,:placeholder=>"שם משתמש" ,:required => true, :value=>""%>			  
			    <%= f.text_field :email, :placeholder=>"דואר אלקטרוני" ,:required => true, :value=>"",:type=>"email"%>			  
			    <%= f.password_field :password, :placeholder=>"סיסמא" ,:required => true%>			  
			    <%= f.password_field :password_confirmation, :placeholder=>"אימות סיסמא" ,:required => true%>
			    <p>
			    <%= f.submit "הרשם!", :class=>"btn btn-primary inline",:onclick => 'agreementValid();'%>		
		      	
		      	<label class="checkbox inline" >
		      		<%= f.check_box :agreement, :class=>"inline", :id=>"agreement" ,:required => true%>
      				<a href="#term" data-toggle="modal" id="agreementText"> תנאי שימוש</a>
    			</label>
			  	</div>
			<% end %>
			<hr />			
			<%=render 'pages/terms_mudal'%>
			<div class="control-group">
				<p>התחברות</p>
				<%= form_for(:session, :url => sessions_path) do |f| %>			  
			    <%= f.text_field :email, :placeholder=>"דואר אלקטרוני",:type=>"email", :value=>"", :required => true,'data-toggle'=>'tooltip', 'title'=>"הכנס כתובת דואר אלקטרוני"%>			  
			    <%= f.password_field :password,:placeholder=>"סיסמא" ,:required => true, 'data-toggle'=>'tooltip', 'title'=>"הכנס סיסמא"%>				    
			    <div class="inline">
				    <%= f.submit "התחבר!", :class=>"btn btn-primary" %>
				    <% end %>
				    <%= link_to "שכחת סיסמא?", "#", :class=>"label label-warning", :data => {:toggle => "modal"}, :href => "#myModal"%>	
					
					<p></p>				   
				    <a type="button" href="/auth/facebook">התחבר עם חשבון Facebook</a>
				    <p></p>
				   	<a type="button" href="/auth/google_oauth2">התחבר עם חשבון Google</a>
				   	
			    </div>	
		  	</div>		  	
			<%= render 'password_form'%>
			
		</div>
		<%else %>
		<div class="control-group">			
			<!--<%=link_to image_tag("/assets/Right3Green.png"),current_user%>-->			
            
            <%=render 'how_to_list'%>
            <%=render 'addThis'%>         
		</div>	
		
			
      	<% end %>      	
	</div>	
</div>

