<br />
<!--<%= link_to 'New Category', new_category_path %>-->

<div class="row-fluid control-group" align="center">
 
<!--
<%@categories.each do |category| %>
  <%=render 'each_categories', :category => category%>  
<% end %>
<%=@categories[0].name%>
-->
<div class="controls">
	<div class="row-fluid">
		<div class="span4" style="background-color: #FFCC33">	
			<div>
				<img src="assets/<%=@categories[0].name%>.png" class="media-object" data-src="holder.js/64x64" style="width: 140px; height: 140px;">		
			</div>
			<div><%= link_to @categories[0].name, @categories[0], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
		
		<div class="span4" style="background-color: #FF3366">	
			<div>
				<img src="assets/<%=@categories[1].name%>.png" class="img-rounded" style="width: 140px; height: 140px;">
			</div>
			<div><%= link_to @categories[1].name, @categories[1], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
		
		<div class="span4" style="background-color: #FF6633">	
			<div>
				<img src="assets/<%=@categories[2].name%>.png" class="img-rounded" style="width: 140px; height: 140px;">
			</div>
			<div><%= link_to @categories[2].name, @categories[2], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
	</div>
	<br />
	<div class="row-fluid">
		<div class="span4" style="background-color: orange" >	
			<div>
				<img src="assets/<%=@categories[3].name%>.png" style="width: 140px; height: 140px;">
			</div>
			<div><%= link_to @categories[3].name, @categories[3], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
		<div class="span4" style="background-color: #B88A00">	
			<div>
				<img src="assets/<%=@categories[4].name%>.png" style="width: 140px; height: 140px;">
			</div>
			<div><%= link_to @categories[4].name, @categories[4], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
		
		<div class="span4" style="background-color: #33FF66">	
			<div>
				<img src="assets/<%=@categories[5].name%>.png" style="width: 140px; height: 140px;">
			</div>
			<div><%= link_to @categories[5].name, @categories[0], :class=>'class="btn btn-large btn-block btn-primary' %></div>	
		</div>
		
	</div>




</div>
</div>