
<p class="well" align="center" style="font-size: 25px">
	בחר קטגוריה ליצירת אירוע חדש
</p>
<div class="row-fluid control-group" >
<div class="controls">
	<div class="row-fluid">
		
		<%= link_to @categories[0] do %>

		<div class="span4 round" style="background-image: url('assets/category-back1.jpg');width: 320px; height: 180px; margin: 30px;">	
			<div>

  					<%= image_tag("wedding.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">חתונה</span>
			    בקטגוריה זו תוצע למוזמנים האפשרות לאשר או לדחות את ההגעה לאירוע ע''י הקשת מקש מתאים

			</div>

		</div>
				<% end %>




		<%= link_to @categories[1] do %>

		<div class="span4 round" style="background-image: url('assets/category-back2.jpg');width: 320px; height: 180px;margin: 30px;">	
			<div>

  					<%= image_tag("bar-mitzvah.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">בר\בת-מצווה</span>
					בקטגוריה זו תוצע למוזמנים האפשרות לאשר או לדחות את ההגעה לאירוע ע''י הקשת מקש מתאים
			</div>

		</div>
				<% end %>
				
				
				

		<%= link_to @categories[2] do %>

		<div class="span4 round" style="background-image: url('assets/category-back3.jpg');width: 320px; height: 180px;margin: 30px;">	
			<div>

  					<%= image_tag("Other.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">ארוע כללי</span>
					בקטגוריה זו תושמע הודעתך המקורית ללא הבקשה להקשת תגובה כלשהי
			</div>

		</div>
				<% end %>




		<%= link_to @categories[3] do %>

		<div class="span4 round" style="background-image: url('assets/category-back4.jpg');width: 320px; height: 180px;margin: 30px;">	
			<div>

  					<%= image_tag("Conference.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">ועידה</span>
					בקטגוריה זו תוצע למוזמנים האפשרות לאשר או לדחות את ההגעה לאירוע ע''י הקשת מקש מתאים
			</div>

		</div>
				<% end %>



		<%= link_to @categories[4] do %>

		<div class="span4 round" style="background-image: url('assets/category-back5.jpg');width: 320px; height: 180px;margin: 30px;">	
			<div>

  					<%= image_tag("survey.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">סקר</span>
					בהתהוות
			</div>

		</div>
				<% end %>



		<%= link_to @categories[5] do %>

		<div class="span4 round" style="background-image: url('assets/category-back6.jpg');width: 320px; height: 180px;margin: 30px;">	
			<div>

  					<%= image_tag("ad.png", :style=>"width: 140px; height: 140px;") %>
			    	<span class="btn btn-large btn-block">פרסומת</span>
					בקטגוריה זו תושמע הודעתך המקורית ללא הבקשה להקשת תגובה כלשהי
			</div>

		</div>
				<% end %>



</div>
</div>