<footer> 
 <div class="navbar">
  	<div class="navbar-inner">	
    <ul class="nav">
    	<li><%= link_to "About", about_path %></li>
    	<li><%= link_to "Contact", contact_path %></li>
    	<li><%= link_to "Partners", partners_path%></li>
    	<!--<li><%= link_to "Terms of use", term_of_use_path %></li>-->
    	<li><%= link_to "Support", support_path %></li>
	</ul>	
	<div class="pull-right addthis_default_style addthis_22x22_style offset3">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>			
		<!-- AddThis Button END -->
	</div>
</div>
  
</footer>
<!-- navbar stay active after click -->
<script type="text/javascript">
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
