<header>			
<div class="navbar navbar-fixed-top">
  	<div class="navbar-inner">	
	    <div class="container">	
	    		<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                  </a>
	    		<a class="brand pull-left" href="/" >				   
				  	  <font face="forte" size="6" color="red">mazminim!</font>
					  <font face="forte" size="3" color="red">Beta</font>
						  
			  	</a>
			  		           
		    <div class="nav-collapse collapse navbar-responsive-collapse">		    
			    <ul class="nav">
					  <li>
						<% if signed_in? %>	
							<%case current_user.category%>
					 		  <%when "bar-mitzvah"%>
							  	<a href="/categories"><font color="green">hebrew</font></a> 
							  <%when "Weding"%>
							  	<a href="/categories"><font color="green">hebrew</font></a>
							  <%when "bar-mitzvah"%>
							  	<a href="/categories"><font color="green">hebrew</font></a>
							  <%when "bar-mitzvah"%>
							  	<a href="/categories"><font color="green">hebrew</font></a>
							  <%when "bar-mitzvah"%>
							  	<a href="/categories"><font color="green">hebrew</font></a>
							 <%end%>				  	
					    	
			        	<% end %>								  				  	
					  </li>	  		  				
					<% if signed_in? %>					  	
					     	
			        <% end %>			      	
		    	</ul>	
			    <ul class="nav pull-right">
                  <% if signed_in? %>					
					<li class="divider-vertical"></li>                  		
					<li><%= link_to "שולחן עבודה", current_user,:style => "font-size:16px;font-weight:600;font-color:blue;" %></li>
					<li class="divider-vertical"></li>				  
					<li><%= link_to "סרטוני הדרכה", root_path ,:style => "font-size:16px;font-weight:600;"%></li>
					<li class="divider-vertical"></li>				  
					<!--<li><%=link_to "Price list", "#",:style => "font-size:16px;font-weight:600;"%></li>-->				 
				      <% else %>
			      	<li><%= link_to "התחבר", signin_path ,:style => "font-size:16px;font-weight:600;"%></li>
			      <% end %>
	                  <% if signed_in? %>
	                  
	                  <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px; font-weight:700;"><i class="icon-user"></i> <%=current_user.name%> <b class="caret"></b></a>
	                    <ul class="dropdown-menu">                      
	                      <li><a href="/history/show">היסטוריית הזמנות שלי</a></li>
	                      <li><a href="/categories">החלף קטגוריה</a></li>	                            	
						  <!--<li><a href="/help">עזרה</a></li>-->                      
	                      <li class="divider"></li>                      
	                      <li><%= link_to "התנתק", signout_path, :method => :delete %></li>
              			</ul>
              			<li>
              				<%if current_user.provider=="facebook"%>
              					<strong>facebook</strong>
          					<%elsif current_user.provider=="google_oauth2"%>
          						<strong>google</strong>
      						<%end%>              				
          				</li> 
              		  <% end %>
                    
                  </li>
                </ul>
	    	</div>
		    
	    </div>
	  </div>
  </div> 
   
 
</header>
<!-- navbar stay active after click -->
<script type="text/javascript">
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
