<header>			
<div class="navbar navbar-fixed-top">
  	<div class="navbar-inner">	
	    <div class="container">	
	    		<a class="brand pull-left" href="/" >				   
				  	  <font face="forte" size="6" color="red">mazminim!</font>
					  <font face="forte" size="3" color="red">Beta</font>
			  	</a>	           
		    <div class="nav-collapse collapse navbar-responsive-collapse">		    
			    <ul class="nav">
					  <li>
					  			
									        					  				  	
					  </li>	  		  				
					<% if signed_in? %>					  	
					     	
			        <% end %>			      	
		    	</ul>	
			    <ul class="nav pull-right">
                  <% if signed_in? %>					
					<li class="divider-vertical"></li>                  		
					<li><%= link_to "MY DESKTOP", current_user,:style => "font-size:16px;font-weight:600;font-family:Verdana;" %></li>
					<li class="divider-vertical"></li>				  
					<li><%= link_to "How to?", root_path ,:style => "font-size:16px;font-weight:600;"%></li>
					<li class="divider-vertical"></li>				  
					<!--<li><%=link_to "Price list", "#",:style => "font-size:16px;font-weight:600;"%></li>-->				 
				      <% else %>
			      	<li><%= link_to "Sign in", signin_path ,:style => "font-size:16px;font-weight:600;"%></li>
			      <% end %>
	                  <% if signed_in? %>
	                  
	                  <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 16px; font-weight:700;"><i class="icon-user"></i> <%=current_user.name%> <b class="caret"></b></a>
	                    <ul class="dropdown-menu">                      
	                      <li><a href="/history/show">My payments history</a></li>
	                      <li><a href="/categories">Category</a></li>                       	
						  <li><a href="/help">Get support</a></li>                      
	                      <li class="divider"></li>                      
	                      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
              			</ul>
              			<li>
              				<%if current_user.provider=="facebook"%>
              					<strong>facebook</strong>
          					<%elsif current_user.provider=="google_oauth2"%>
          						<strong>google</strong>
      						<%end%>              				
          				</li> 
              		  <% end %>
                    
                  </li>
                </ul>
	    	</div>
		    
	    </div>
	  </div>
  </div> 
   
 
</header>
<!-- navbar stay active after click -->
<script type="text/javascript">
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');
</script>
