<%
if @language == "heb"
	@page_dir = "rtl"
else
	@page_dir = "ltr"		
end
@page_dir = "rtl"
%>



<!DOCTYPE html>
<html dir="<%=@page_dir%>">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />	
	<title>אתר מזמינים: להתקשר, להזמין כמות גדולה של אורחים באופן אוטומטי, לוודא הגעת מוזמנים לאירועי חתונה, בר-מצווה, כנס וכדומה</title>
	<meta name="description" content ="השירות מציע התקשרות טלפונית לכלל רשימת המוזמנים בו-זמנית. באתר מזמינים ניתן להזמין כמות גדולה של אורחים בלחיצת כפתור ולקבל את תגובתם תוך דקות ספורות אונליין. הקליטו את ההזמנה, צרו רשימת מוזמנים ותנו לנו לעשות את העבודה הקשה">
	
	<%= stylesheet_link_tag "application"%>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/stylesheets' %>
     
  </head>
  <body>  	 	
  	<div class="container">  		
    <div class="row-fluid">    	
	<%= render 'layouts/header' %>	
      <section class="round" >
      	<% if signed_in? %>    	
    	<%end%>
        <% flash.each do |key, value| %>
          <div id="flash_field" class="alert alert-<%= key %>"><%= value %></div>
        <% end %>        
        <%= yield %>        
      </section>
     <p></p> 
     <div id="screen_lock" style="display:none; position: fixed; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 100%; height: 100%; background: black; opacity: 0.5; z-index: 100"></div>
    </div>
    <div class="row-fluid">
      	<%= render 'layouts/footer' %>
  	</div>
    </div>
   <%=render 'users/javaScript'%>  
  </body>
  <body onload="fadeOutFlashArea()"></body>
  <!-- <%= debug(params) if Rails.env.development? %> -->
</html>
